* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.topbar {
    width: 100%;
    height: 40px;
    background-color: #333;
}
.container {
    width: 1226px;
    margin: 0 auto;
}
.topbar-menu {
    line-height: 40px;
    font-size: 0;
    float: left;
    height: 40px;
}
.topbar-menu a, .topbar-info a, .topbar-cart a {
    text-decoration: none;
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}
.topbar-menu span {
    margin: 0.5em;
    color: #424242;
    font-family: sans-serif;
    font-size: 12px;
}
.topbar-info {
    float: right;
}
.topbar-cart {
    float: right;
    width: 120px;
    text-align: center;
    background: #424242;
    margin-left: 15px;
}
.topbar-cart a:hover {
    background: #fff;
    color: #ff6700;
}
.topbar-cart a {
    display: block;
}
.topbar-cart .iconfont {
    line-height: 20px;
    margin-right: 4px;
    font-size: 20px;
    color: #b0b0b0;
    vertical-align: -4px;
}
.topbar-cart span {
    margin-left: -4px;
}
.topbar-info .item1 {
    display: table;
    padding: 0 5px;
    font-size: 0px;
    line-height: 40px;
    height: 40px;
    float: right;
}
.topbar-info span {
    font-size: 12px;
    line-height: 40px;
    font-family: sans-serif;
    float: right;
    color: #424242;
}
.topbar-info .item2 {
    padding: 0 10px;
    float: right;
}
.container::before, .container::after {
    content: "";
    display: table;
}
.container::after {
    clear: both;
}
.nav {
    height: 100px;
}
.nav-logo {
    float: left;
    width: 62px;
    height: 55px;
    margin-top: 22px;
}
.nav-logo a {
    display: block;
    background: #ff6700 url("../images/mi-logo.png") no-repeat 50% 50%;
    width: 55px;
    height: 55px;
}
.nav-list {
    width: 850px;
    float: left;
}
.nav-list ul {
    list-style-type: none;
    font-size: 16px;
    height: 88px;
    width: 820px;
    padding: 12px 0 0 30px;
}
.nav-list li {
    float: left;
}
.nav-list #nav-category {
    display: block;
    margin-right: 15px;
    width: 127px;
    text-align: right;
    padding: 26px 0 38px;
}
.nav-list .nav-item {
    display: block;
    height: 24px;
    text-align: center;
    padding: 26px 10px 38px;
}
.search {
    position: relative;
}
.search .search-txt {
    width: 243px;
    height: 48px;
    border: 1px solid #e0e0e0;
    position: absolute;
    right: 51px;
    top: 25px;
}
.search .search-btn {
    position: absolute;
    top: 25px;
    right: 0;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background: url(../images/search1.png) no-repeat;
    background-size: 18px 18px;
    background-position: 50%;
    color: #616161;
    outline: 0;
}
.search .search-btn:hover {
    background: url(../images/search.png) no-repeat;
    background-size: 18px 18px;
    background-position: 50%;
    background-color: #ff6700;
    border: 1px solid #ff6700;
}
.seckill {
    background-color: #f5f5f5;
    height: 1175px;
}
.seckill-head {
    background: url(../images/seckill-head.jpg) no-repeat 50% 0;
    margin-top: 1.34em;
    position: relative;
    height: 170px;
}
.seckill-head .containerfixed {
    margin-left: 62px;
    position: fixed;
    z-index: 1;
    top: -102px;
}
.seckill-head ul {
    margin-bottom: 22px;
    margin-top: 102px;
}
.seckill-head li {
    float: left;
    list-style-type: none;
    height: 68px;
    line-height: 68px;
    width: 20%;
    background-color: #414141; 
    text-align: center;
    cursor: pointer;
    color: #fff;
}
.seckill-head .active {
    background: #f1393a;
}
.seckill-head em {
    font-style: normal;
    margin-left: 30px;
    font-size: 18px;
    vertical-align: middle;
}
.seckill-head span {
    margin-left: 15px;
    vertical-align: middle;
}
.seckill-con .container {
    height: 812px;
    width: 1226px;
    margin-top: 22px;
}
.seckill-con ul {
    display: block;
    list-style-type: none;
    margin-left: -13px;
}
.seckill-con li {
    background-color: #fff;
    width: 400px;
    height: 190px;
    margin-left: 13px;
    margin-bottom: 13px;
    position: relative;
    float: left;
}
.seckill-con img {
    width: 190px;
    height: 190px;
}
.seckill-con .pro-con {
    position: absolute;
    left: 210px;
    top: 0;
    height: 162px;
    width: 190px;
    padding-top: 30px;
}
.seckill-con .pro-con a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 16px;
    display: block;
    line-height: 16px;
}
.seckill-con .pro-con .desc-tips {
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    line-height: 12px;
    margin-top: 10px;
}
.seckill-con .pro-con .process {
    width: 146px;
    height: 5px;
    margin-top: 10px;
    background: #f5f5f5;
    position: relative;
}
.seckill-con .pro-con .process span {
    display: block;
    background: #f1393a;
    transition: width 1s;
    height: 100%;
}
.seckill-con .pro-con .process em {
    font-style: normal;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    position: absolute;
    right: -35px;
    top: -2px;
    line-height: 1;
}
.seckill-con .pro-con .price {
    font-size: 16px;
    color: #f1393a;
    line-height: 1;
    margin-top: 14px;
}
.seckill-con .pro-con .price del {
    color: rgba(0,0,0,0.5);
    margin-left: 10px;
    font-size: 12px;
    line-height: 1;
}
.seckill-con .pro-con .btn {
    text-decoration: none;
    display: block;
    background: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
    margin-top: 19px;
    font-size: 14px;
    width: 118px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #b0b0b0;
}
.notice .container {
    padding-bottom: 35px;
    font-size: 12px;
    color: rgba(0,0,0,0.27);
    margin-top: 100px;
}
.site-footer {
    background: #fff;
}
.site-footer .container {
    height: 272px;
}
.site-footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
    height: 25px;
}
.site-footer .footer-service ul li {
    list-style-type: none;
    float: left;
    width: 19.8%;
    height: 25px;
    text-align: center;
    border-left: 1px solid #c0c0c0;
    font-size: 16px;
    line-height: 25px;
}
.site-footer .footer-service li:first-child {
    border-left: 0;
}
.site-footer .footer-service a {
    text-decoration: none;
    color: #616161;
    font-size: 16px;
}
.site-footer .footer-links {
    padding: 40px 0;
    height: 112px;
}
.site-footer .footer-links dl {
    height: 112px;
    width: 160px;
    margin: 0;
    float: left;
    display: block;
}
.site-footer .footer-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    color: #424242;
    line-height: 1.25;
}
.site-footer .footer-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}
.site-footer .footer-links a {
    text-decoration: none;
    color: #757575;
}
.site-footer .footer-links .col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    margin-left: -1px;
    color: #616161;
}
.site-footer .footer-links .col-contact .phone {
    color: #ff6700;
    font-size: 22px;
    margin-bottom: 5px;
    line-height: 1;
}
.site-footer .footer-links .col-contact .contact-info {
    margin-bottom: 16px;
    font-size: 12px;
    text-align: center;
    color: #616161;
}
.site-footer .footer-links .col-contact i {
    font-style: normal;
    font-size: 12px;
    margin-right: 4px;
}
.site-footer .footer-links .col-contact .btn-contact {
    display: inline-block;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    line-height: 30px;
    color: #ff6700;
    font-size: 12px;
}
.site-info {
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.site-info .container {
    height: 73px;
}
.site-info .slogan {
    margin: 30px auto 0;
    width: 267px;
    height: 19px;
    background: url(https://s01.mifile.cn/i/slogan2016.png) no-repeat 50% 0;
}
.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}
.site-info .site-logo {
    background: url(https://s01.mifile.cn/i/logo-footer.png?v2) no-repeat 50% 50%;
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
}
.site-info .info-txt {
    height: 55px; 
    float: left;
}
.site-info .info-txt .sites {
    margin: 0;
    line-height: 18px;
    font-size: 0;
    height: 19px;
}
.site-info .info-txt .sites a {
    text-decoration: none;
    color: #757575;
    line-height: 18px;
    font-size: 12px;
}
.site-info .info-txt .sites span {
    font-size: 12px;
    margin: 0.25em;
    font-family: sans-serif;
    color: #b0b0b0;
}
.site-info .info-txt .notice {
    color: #b0b0b0;
}
.site-info .info-links {
    float: right;
    height: 28px;
    margin-top: 4px;
}
.site-info .info-links img {
    height: 28px;
}